.package-grid {

  .macarons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    &_package {
      margin: auto;
      &_img {
        width: 200px;
        height: 200px;
      }
    }
  }
}
