<div class="package-grid">
  <div class="macarons">
    <div class="macarons_package"><img class="macarons_package_img" src="/assets/images/5p-flavour.png" alt="Waw Macarons"></div>
    <div class="macarons_package"><img class="macarons_package_img" src="/assets/images/10p-flavour.png" alt="Waw Macarons"></div>
    <div class="macarons_package"><img class="macarons_package_img" src="/assets/images/15p-flavour.png" alt="Waw Macarons"></div>
    <div class="macarons_package"><img class="macarons_package_img" src="/assets/images/20p-flavour.png" alt="Waw Macarons"></div>
  </div>
</div>
