<div class="hero">
  <div class="hero_logo">
    <div class="hero_logo_pic"><img class="hero_logo_pic_img" src="/assets/images/logo_hand.png" alt="Macarons Logo Image"></div>
    <div class="hero_logo_name"><img class="hero_logo_name_img" src="/assets/images/logo_main.png" alt="Waw Macarons"></div>
  </div>
 <div class="hero_description">Discover the art of indulgence with our exquisite collection of macarons. At [Your Brand Name], we specialize in creating luxurious, handcrafted macarons that bring a touch of elegance and a burst of flavor to every occasion.</div>
</div>
